
<header style="color: black;" class="site-header" id="top-header">
    <span class="site-title">
      <a  href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div style" text-decoration: none;" class="account-link" id="tools">
      <a title="Click to log in" href="/login">My Account</a>
    </div>
  </header>