<nav class="navigation">
    <ul class="nav-list">
      <li class="nav-item">Home</li>
      <li class="nav-item">Custom</li>
      <li class="nav-item">Sedan</li>
      <li class="nav-item">SUV</li>
      <li class="nav-item">Truck</li>
    </ul>
  </nav>