<nav class="navigation">
    <ul class="nav-list">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/inventory">Custom</a></li>
      <li class="nav-item"><a href="/inventory?category=sedan">Sedan</a></li>
      <li class="nav-item"><a href="/inventory?category=suv">SUV</a></li>
      <li class="nav-item"><a href="/inventory?category=truck">Truck</a></li>
    </ul>
  </nav>
