
    
    <div class="container ">
      <h1 class="welcome-title">Welcome to CSE Motors!</h1>
      <div class="car-display">
        <div class="car-features">
          <p>DMC Delorean</p>
          <p>3 Cup holders</p>
          <p>Superman doors</p>
          <p>Fuzzy dice!</p>
          <button class="cta-button">Own Today</button>
        </div>
      </div>
      
        <div class="container upgrades-section">
          <div class="upgrades-list">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade-items">
              <div class="upgrade-item">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <a href="/images/upgrades/flux-cap.png" class="upgrade-link">Flux Capacitor</a>
              </div>
              <div class="upgrade-item">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <a href="/upgrades/flame-decals" class="upgrade-link">Flame Decals</a>
              </div>
              <div class="upgrade-item">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <a href="/upgrades/bumper-stickers" class="upgrade-link">Bumper Stickers</a>
              </div>
              <div class="upgrade-item">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <a href="/upgrades/hub-caps" class="upgrade-link">Hub Caps</a>
              </div>
            </div>
          </div>
          
          <div class="reviews-list">
            <h2>DMC Delorean Reviews</h2>
            <ul>
              <li class="review-item">"So fast it's almost like traveling in time." (4/5)</li>
              <li class="review-item">"Coolest ride on the road." (4/5)</li>
              <li class="review-item">"I'm feeling McFly!" (5/5)</li>
              <li class="review-item">"The most futuristic ride of our day." (4.5/5)</li>
              <li class="review-item">"80's livin and I love it!" (5/5)</li>
            </ul>
          </div>
        
      </div>
    </div>
    
